<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о данных</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .back-button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .back-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Информация о данных</h1>
    <p>В данном веб-приложении используются открытые картографические данные, предоставленные сервисом <a href="https://www.openstreetmap.org/">OpenStreetMap</a>. 
       Также на карте используется ЦМР <a href="https://www.eorc.jaxa.jp/ALOS/en/dataset/aw3d30/aw3d30_e.htm">ALOS AW3D</a>.</p>
    <p>Веб-приложение выполено Сазанаковым Данилом в рамках курса "Управление пространственными данными"</p>
    <a href="/" class="back-button">Назад на карту</a>
</body>
</html>
